<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
   <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg ">
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
      
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="far fa-calendar-alt">  </i>Today</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/work"><i class="far fa-clone">  </i>Work</a>
              </li>
      
      
            </ul>
          </div>
        </nav>
      </header>
 <main>
  <div class="box" id="heading">  
    <h1><%= KindOfDay %></h1>
  </div>
  <div class="box">
    <ul>
        <div class="item"><input type="checkbox"> Buy Food</div>
        <div class="item"><input type="checkbox"> Cook Food</div>
        <div class="item"><input type="checkbox"> Eat Food</div>
        <% for( i = 0; i < newListItems.length; i++){ %>
        <div class="item"><input type="checkbox"><p></p><%= newListItems[i] %></p></div>
        <% } %>
        <form  class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list">+</button>
            </div>
        </form>
    </ul>
 </main>
   <footer>Copyright © 2023
  </footer>
</body>
</html>